body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  display: flex;
}

.aside {
  height: 90vh;
  width: 18%;
  background-color: #000000;
  font-family: "Sen", sans-serif;
  position: sticky;
  top: 0;
}
.aside_top__item {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 15px;
}
.aside_top__item--link, .aside_footer__text, .aside_playlist__row--link {
  color: #9e9d9d;
  font-size: 15px;
  font-weight: 700;
}
.aside_top__item--symbol, .aside_playlist__row--symbol {
  padding-right: 10px;
  font-size: 20px;
}
.aside .logo {
  font-family: "Baloo Chettan 2", cursive;
  padding-bottom: 30px;
}
.aside .logo--link {
  font-size: 40px;
  color: #ffffff;
}
.aside .logo--symbol {
  padding-right: 10px;
  color: #ffffff;
}
.aside_playlist {
  color: #9e9d9d;
  margin-top: 30px;
  padding-left: 15px;
}
.aside_playlist__heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
}
.aside_playlist__row {
  margin-top: 20px;
}
.aside_playlist__row:hover {
  color: #ffffff;
}
.aside_bottom {
  margin-top: 30px;
  border-top: 1px solid #9e9d9d;
  list-style: none;
  height: 27vh;
  overflow: auto;
}
.aside_bottom__list_item {
  padding-top: 10px;
}
.aside_footer {
  color: #9e9d9d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.aside_footer__symbol {
  font-size: 17px;
  padding-right: 10px;
}
.right_side {
  width: 82%;
  height: 90vh;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: "Sen", sans-serif;
  overflow: auto;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #1d1d1d;
}

.header__left--button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.header__left--button .header__left--button:first-of-type {
  padding-right: 10px;
}
.header__left--button .header__left--button:last-of-type {
  padding-left: 10px;
}

.main__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__heading h1 {
  font-size: 30px;
  font-weight: 700;
}

.main__heading h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.main_container {
  display: flex;
  justify-content: space-between;
}

.main_container__block {
  background-color: #444444;
  color: #9e9d9d;
  border-radius: 2px;
  max-width: 130px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

.main_container__block--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_container__block--img img {
  width: 100%;
}

.main_container__block--text {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: left;
  padding-top: 15px;
}
.main_container__block--text .main_container__block--h2 {
  font-weight: 700;
}
.main_container__block--text .main_container__block--p {
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 10px;
}

.footer_container {
  height: 10vh;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
