@use 'fonts';

$main_colour: #1d1d1d;
$side_colour: #000000;
$block_colour: #444444;
$font_colour_light: #ffffff;
$font_colour_dark: #9e9d9d;

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    display: flex;
}

.aside  {
    height: 90vh;
    width: 18%;
    background-color: $side_colour;
    font-family: fonts.$main_font;
    position: sticky;
    top: 0;


    &_top__item {
        margin-top: 20px;
        margin-bottom: 0;
        padding-left: 15px;
    

        &--link {
            color: $font_colour_dark;
            font-size: 15px;
            font-weight: 700;
        }

        &--symbol {
            padding-right: 10px;
            font-size: 20px;
        }
    }

    .logo {
        font-family: fonts.$logo_font;
        padding-bottom: 30px;
        
        &--link {
            font-size: 40px;
            color: $font_colour_light;
        }

        &--symbol {
            padding-right: 10px;
            color: $font_colour_light;
        }
    }

    &_playlist {
        color: $font_colour_dark;
        margin-top: 30px;
        padding-left: 15px;

        &__heading {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 2px;
        }

        &__row {
            margin-top: 20px;

            &--link {
                @extend .aside_top__item--link;
            }

            &--symbol {
                @extend .aside_top__item--symbol;
            }
        }

        &__row:hover {
            color: $font_colour_light;
        }
    }

    &_bottom {
        margin-top: 30px;
        border-top: 1px solid $font_colour_dark;
        list-style: none;
        height: 27vh;
        overflow: auto;

        &__list_item {
            padding-top: 10px;
        }
    }

    &_footer {
        color: $font_colour_dark;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;

        &__symbol {
            font-size: 17px;
            padding-right: 10px;
        }

        &__text {
            @extend .aside_top__item--link;
        }
    }
}

.right_side {
    width: 82%;
    height: 90vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $main_colour;
    color: $font_colour_light;
    font-family: fonts.$main_font;
    overflow: auto;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $main_colour;
}

.header__left--button {
    background-color: $side_colour;
    border: none;
    color: $font_colour_light;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    .header__left--button:first-of-type {
        padding-right: 10px;
    }

    .header__left--button:last-of-type {
        padding-left: 10px;
    }
}

.footer_container {
    height: 10vh;
    width: 100%;
}