@use 'fonts';

$main_colour: #1d1d1d;
$side_colour: #000000;
$block_colour: #444444;
$font_colour_light: #ffffff;
$font_colour_dark: #9e9d9d;

body {
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    display: flex;
}

.aside  {
    width: 20%;
    background-color: $side_colour;
    font-family: fonts.$main_font;

    &_top__item {
        margin-top: 20px;
        margin-bottom: 0;
        padding-left: 15px;
    

        &--link {
            color: $font_colour_dark;
            font-size: 15px;
            font-weight: 700;
        }

        &--symbol {
            padding-right: 10px;
            font-size: 20px;
        }
    }

    .logo {
        font-family: fonts.$logo_font;
        padding-bottom: 30px;
        
        &--link {
            font-size: 40px;
            color: $font_colour_light;
        }

        &--symbol {
            padding-right: 10px;
            padding-left: 15px;
            color: $font_colour_light;
        }
    }

    &_playlist {
        color: $font_colour_dark;
        margin-top: 30px;
        padding-left: 15px;

        &__heading {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 2px;
        }

        &__row {
            margin-top: 20px;

            &--link {
                @extend .aside_top__item--link;
            }

            &--symbol {
                @extend .aside_top__item--symbol;
            }
        }

        &__row:hover {
            color: $font_colour_light;
        }
    }

    &_bottom {
        margin-top: 30px;
        border-top: 1px solid $font_colour_dark;
        list-style: none;
        height: 150px;
        overflow: auto;

        &__list_item {
            padding-top: 10px;
        }
    }
}